<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>我的世界相册 - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">我的世界相册</a>
            </div>
            <nav>
                <a href="/">首页</a>
                <a href="/about.html">关于</a>
                <a href="/archive.html">归档</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>
    </body>
</html>
