<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>我的世界相册 - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">我的世界相册</a>
            </div>
            <nav>
                <a href="/">首页</a>
                <a href="/about.html">关于</a>
                <a href="/archive.html">归档</a>
            </nav>
        </header>
        <div>
            用户：<input name="username" class="size75" />
            密码：<input name="password" type="password" class="size75" />
            位置：<input name="pos" class="size75" />
            <button> tp </button>
        </div>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>
        <script>
          var tpApi = 'https://crm.huabot.com/api/tp';

          var userElem = document.querySelector('input[name=username]');
          var passwdElem = document.querySelector('input[name=password]');
          var posElem = document.querySelector('input[name=pos]');

          function fillInput(elem, name) {
            var v = localStorage.getItem(name);
            if (v) {
              elem.value = v
            }
          }

          function tp(pos) {
            if (!pos) {
              alert('请输入位置');
              return;
            }
            var username = userElem.value;
            var password = passwdElem.value;
            var authString = username + ':' + password;

            var headers = new Headers();
            headers.set('Authorization', 'Basic ' + btoa(authString));
            headers.set('Content-Type', 'application/x-www-form-urlencoded');
            fetch(tpApi, {method: 'POST', body: 'pos=' + encodeURIComponent(pos), headers: headers})
              .then(function(rsp) {
                return rsp.json();
              })
              .then(function(data) {
                if (data.err) {
                  alert(data.err);
                }
              }).catch(function(err) {
                console.error(err);
                alert('失败');
              })
          }

          fillInput(userElem, 'username');
          fillInput(passwdElem, 'password');
          fillInput(posElem, 'pos');

          document.querySelectorAll('input').forEach(function(elem) {
            elem.addEventListener('change', function() {
              localStorage.setItem(elem.name, elem.value);
            });
          });

          var elems = document.querySelectorAll('.pos');
          elems.forEach(function(elem) {
            elem.addEventListener('click', function() {
              var pos = elem.innerText
              tp(pos);
            });
          });

          document.querySelector('button').addEventListener('click', function() {
            var pos = posElem.value;
            tp(pos);
          })
        </script>
    </body>
</html>
